---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
import { SITE_NUM } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
            <div class="num">站内文章字数 ≈ {SITE_NUM}</div>

          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="http://124.70.179.85:8080" target="_blank">Boost文档大搜索</a>
            <a href="http://124.70.179.85:9091" target="_blank">humid1ch的视频点播</a>
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="https://github.com/humid1ch" target="_blank">哈米d1ch - Github</a>
            <a href="https://blog.csdn.net/dxyt2002" target="_blank">哈米d1ch - CSDN</a>
          </div>
          
          <div class="item resources">
            <div class="item-title">友链</div>
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`}
        </div>
      </div>
    </div>
  </div>
</div>
