---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
import { SITE_NUM } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
            <div class="num">站内文章字数 ≈ {SITE_NUM}</div>

          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="http://119.3.223.238:8080" target="_blank">Boost库 文档搜索</a>
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="https://github.com/DxytJuly3" target="_blank">Github</a>
          </div>
          
          <div class="item resources">
            <div class="item-title">友链</div>
            <a href="https://d-xyt.blog.csdn.net/" target="_blank">July.cc - CSDN</a>
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`}
        </div>
      </div>
    </div>
  </div>
</div>
